<div
  class="main"
  style="padding-bottom: 300px; display: flex; justify-content:center; "
>
  <div
    class="registerBox"
    style="background-color: white; width: 400px; margin-top:100px; border:1px solid black; border-radius: 25px; padding:20px;"
  >
    <span style="display: flex; justify-content:center"><h3>Welcome to our store</h3></span>
      <form class="emailRegister" style="display: flex; justify-content:center; flex-direction:column; align-items:center">
    <input
      id="email"
      class="form-control form-control-lg"
      type="text"
      placeholder="email"
      style="margin: 10px 0 10px 0;"
    />
    <input
      id="password"
      class="form-control form-control-lg"
      type="password"
      placeholder="password"
    />
    <span style="display: flex; justify-content:center; margin-top:10px">
      <button
        type="button"
        id="LogIn"
        style="align-self: center; margin-top:5px;margin-right:10px; cursor:pointer;  padding: 10px 20px;  border-radius: 5px;"
      >Log in</button>
    </span>
      </form>
    <span style="display: flex; justify-content:center">or</span>
    <button
      class="singGoogle"
      style="display: flex; align-items:center; width: 360px; margin-bottom: 10px; border: 1px solid black; border-radius: 25px"
      id="Google"
    ><img
        src="https://icon-icons.com/icons2/836/PNG/512/Google_icon-icons.com_66793.png"
        style="width: 30px; height:30px; margin: 0 50px 0 10px"
      /><p style="margin-top:10px;">Continue with Google</p></button>
    <button
      class="singApple"
      style="display: flex; align-items:center; width: 360px; border: 1px solid black; border-radius: 25px"
    ><img
        src="https://1000logos.net/wp-content/uploads/2016/10/Apple_logo_grey.png"
        style="width: 60px; height:auto; margin: 0 35px 0 -5px"
      /><p style="margin-top:10px;">Continue with Apple</p></button>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/script/login.js"></script>
<script src="/script/logGoogle.js"></script>