<div class="main">
  <h1 style="color:white; border-bottom: 1px solid white; padding-bottom:10px; display:flex; justify-content:center">Our products</h1>
  <div class="formCont">
    <h3 style="color:white; display:flex; justify-content:center">Create a new
      product</h3>
    <form
      class="form"
      style="display: flex; justify-content:center; flex-direction: column; align-items:center "
    >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

      <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="photo" accept="image/*">
        <label class="custom-file-label" for="photo"  style="width: 300px; margin-left: 20px;">Choose a photo</label>
      </div>
      </div>
      <input
        class="title"
        type="text"
        name="title"
        id="title"
        placeholder="Name of the product "
        style="width: 300px;"
      />
      <input
        class="category"
        type="text"
        name="category"
        id="category"
        placeholder="Category of the product (optional)"
        style="width: 300px;"
      />
      <input
        class="price"
        type="number"
        name="price"
        id="price"
        placeholder="Price of the product (optional)"
        style="width: 300px;"
      />
      <input
        class="stock"
        type="number"
        name="stock"
        id="stock"
        placeholder="Stock of the product (optional)"
        style="width: 300px;"
      />
      <input
        class="create"
        type="button"
        name="create"
        id="create"
        value="Create"
        style="align-self: center; margin-top:5px"
      />
    </form>
  </div>
  <div
    class="mainCont"
    id="product"
    style="margin: 30px 0 0 0; display: flex; flex-wrap: wrap; "
  >
  </div>
</div>
<script>
  //actualiza el input del archivo con el nombre del mismo
  document.getElementById('photo').addEventListener('change', function (e) {
        var fileName = e.target.files[0].name;
        var nextSibling = e.target.nextElementSibling;
        
      //En el caso de que el nombre del archivo sea demasiado largo lo limita a 17 caracteres
       if (fileName.length > 20) {
            fileName = fileName.slice(0, 17) + '...'; 
        }
      nextSibling.innerText = fileName;
   });
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io(); 
  //recibe los products y los agrega al div con id: product, con un formato estilizado
  socket.on("products", data => { const content =
  data.map(each => ` <div class="productCont" style="background-color:white;
  width:350px; padding: 0 10px 0 10px; margin: 10px 30px 10px 30px; border: 1px
  solid black;"> <img src="${each.photo}" class="productImage" style="width:
  300px; height: 300px;"> <div class="productInfo" style="display: flex;
  justify-content:center; flex-direction:column; align-items: center;"> <h5 style="margin-right: 5px;">${each.title}</h5>
  <h5>${each.price}</h5><h6>id:${each.id}</h6></div> </div>`).reverse().join("");
  document.querySelector("#product").innerHTML = content; });
//envia los datos del producto
  document.querySelector("#create").addEventListener("click", (event) => {
    const title = document.querySelector("#title").value
    const photo = document.querySelector("#photo").value
    const category = document.querySelector("#category").value
    const price = document.querySelector("#price").value
    const stock = document.querySelector("#stock").value
    socket.emit("product", {title, photo, category, price, stock})
  })
</script>


  
