<div class="main" style="padding-bottom: 69px; display: flex; justify-content:center; ">
  <div class="registerBox" style="background-color: white; width: 400px; margin-top:100px; border:1px solid black; border-radius: 25px; padding:20px ">
    <span style="display: flex; justify-content:center"><h3>Welcome to our store</h3></span>
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="Email"
      aria-label=".form-control-lg example"
    />
    <input
      class="form-control"
      type="text"
      placeholder="User name"
      aria-label="default input example"
      style="margin: 10px 0 10px 0;"
    />
    <input
      class="form-control form-control-sm"
      type="password"
      placeholder="password"
      aria-label=".form-control-sm example"
    />
    <span style="display: flex; justify-content:center">or</span>
    <button
      class="singGoogle"
      style="display: flex; align-items:center; width: 360px; margin-bottom: 10px; border: 1px solid black; border-radius: 25px"
    ><img
        src="https://icon-icons.com/icons2/836/PNG/512/Google_icon-icons.com_66793.png"
        style="width: 30px; height:30px; margin: 0 50px 0 10px"
      /><p style="margin-top:10px;">Continue with Google</p></button>
      <button
      class="singApple"
      style="display: flex; align-items:center; width: 360px; border: 1px solid black; border-radius: 25px"
    ><img
        src="https://1000logos.net/wp-content/uploads/2016/10/Apple_logo_grey.png"
        style="width: 60px; height:auto; margin: 0 35px 0 -5px"
      /><p style="margin-top:10px;">Continue with Apple</p></button>
  </div>
</div>