<div
  class="Title"
  style="display: flex; justify-content:center; border-bottom: 2px solid white;"
>
  <h1 style="color: white;">Update my role</h1>
</div>
<div
  class="data"
  style="display: flex; justify-content:center; flex-wrap:wrap; color:black; margin-top:20px"
>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <label
      for="age"
      style="width:100%;text-align: left; display:flex; justify-content:center"
    >Date of birth</label>
  </span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <input
      class="form-control"
      type="date"
      min="1924-12-31"
      max="2014-12-31"
      id="age"
      aria-label="default input example"
      style="width:300px;margin: 10px 0 10px 0;"
    />
    </span>
    <span
      style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
    >
      <label
        for="residence"
        style="width:100%;text-align: left; display:flex; justify-content:center"
      >Residence</label>
    </span>
    <span
      style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
    >
      <input
        class="form-control"
        type="text"
        id="residence"
        aria-label="default input example"
        style="width:300px;margin: 10px 0 10px 0;"
        placeholder="Set your residence"
      />
    </span>

  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <label
      for="address"
      style="width:100%;text-align: left; display:flex; justify-content:center"
    >Address</label>
  </span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <input
      class="form-control"
      type="text"
      id="address"
      aria-label="default input example"
      style="width:300px;margin: 10px 0 10px 0;"
      placeholder="Set your address"
    />
  </span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
  <button style="background-color: gray; padding:5px; color: white; border: none; border-radius:5px" id="update">
    Change role to seller
  </button>
  </span>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/script/changeRole.js"></script>