<div
  class="Title"
  style="display: flex; justify-content:center; border-bottom: 2px solid white;"
>
  <h1 style="color: white;">Settings</h1>
</div>
<div
  class="data"
  style="display: flex; justify-content:center; flex-wrap:wrap; color:black; margin-top:20px"
>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  ><h3>{{content.name}}</h3></span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <input id="name" type="text" placeholder="New name" />
    <button
      type="button"
      id="ChangeName"
      style="background-color: gray; color: white; margin-left:5px; border:none; border-radius:5px; padding:5px "
    >Change my name</button></span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <img
      src={{content.photo}}
      style="max-height:500px; max-width:300px;min-width: 250px;height:auto; width:auto"
    />
  </span>
  <span
    style="display: flex; justify-content:center;align-items:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <input
      type="file"
      accept="image/*"
      class="text"
      id="photo"
      style="width: 300px; display:none"
    />
    <label
      for="photo"
      id="photoLabel"
      style="width:300px; background-color:gray;color:white; display:flex;justify-content:center; margin: 0 0 5px 0; cursor:pointer; border-radius: 5px"
    ><h3>Change photo</h3></label>
    <button
      type="button"
      id="Change"
      style="background-color: gray; color: white; margin-left:5px; border:none; border-radius:5px; padding:5px "
    >Change</button>
  </span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  ><h3>{{content.email}}</h3></span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  ><h3>My role:{{#if (equal content.role 0)}} customer {{else}}
        seller
      {{/if}}</h3></span>
  <span
    style="display: flex; justify-content:center;margin-bottom:5px; background-color: white; width:80%; padding: 10px 0"
  >
    <a
      href="/users/role"
      style="background-color: gray; padding:5px; color: white; border: none; border-radius:5px"
    ><strong>Update your role</strong></a>
  </span>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/script/changePhoto.js"></script>
<script src="/script/changeName.js"></script>
<script>
  //actualiza el input del archivo con el nombre del mismo
  document.getElementById('photo').addEventListener('change', function (e) { let
  fileName = e.target.files[0].name; let nextSibling =
  e.target.nextElementSibling; //En el caso de que el nombre del archivo sea
  demasiado largo lo limita a 17 caracteres if (fileName.length > 20) { fileName
  = fileName.slice(0, 17) + '...'; } nextSibling.innerText = fileName; });
</script>