
<div class="main" style=" height:100vh; display:flex; justify-content:center">
  <div
    class="userData"
    style="background-color: white; width: 400px; height:600px; margin-top:100px; border:1px solid black; border-radius: 25px; padding:20px; display:flex; justify-content:center; flex-direction: column; align-items:center"
  >
    <span><h3> {{content.email}}</h3></span>
    <img src={{content.photo}} style="width: 300px; height:auto; max-height:350px">
    <p style="display:flex;justify-content:center;width: 300px;border-bottom: 1px solid black;">User ID: {{content._id}}</p>
    <p style="display:flex;justify-content:center;width: 300px; border-bottom: 1px solid black;">User role: {{content.role}}</p>
  </div>
</div>
