<div class="main" style="height:100%;width:100%;display: flex; justify-content:center; align-items:center; flex-direction:column; color: white; margin-top:10%">
<h1>{{message}}</h1>
<h3>You are already able to log in!</h3>
</div>